{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CLS</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% url 'cls:index' as home_url %}
                <li class="nav-item{% if request.get_full_path == home_url %} active{% endif %}">
                    <a class="nav-link" href="{{ home_url }}">Home</a>
                </li>
                {% if perms.customers.view_customer %}
                    {% url 'customers:view_customers' as customers_url %}
                    <li class="nav-item{% if request.get_full_path == customers_url %} active{% endif %}">
                        <a class="nav-link" href="{{ customers_url }}">Customers</a>
                    </li>
                {% endif %}
                {% if perms.tickets.view_ticket %}
                    {% url 'tickets:view_tickets' as tickets_url %}
                    <li class="nav-item{% if request.get_full_path == tickets_url %} active{% endif %}">
                        <a class="nav-link" href="{{ tickets_url }}">Tickets</a>
                    </li>
                {% endif %}
                {% if perms.sale.view_item %}
                    {% url 'sale:view_items' as items_url %}
                    <li class="nav-item{% if request.get_full_path == items_url %} active{% endif %}">
                        <a class="nav-link" href="{{ items_url }}">For sale</a>
                    </li>
                {% endif %}
                {% if perms.scrap.view_item %}
                    {% url 'scrap:view_items' as items_url %}
                    <li class="nav-item{% if request.get_full_path == items_url %} active{% endif %}">
                        <a class="nav-link" href="{{ items_url }}">Scrap</a>
                    </li>
                {% endif %}
            </ul>
            {% if perms.customers.view_customer and perms.tickets.view_ticket %}
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'cls:search' %}">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>
{% block content %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="application/javascript">
    $('#update_modal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const ticket_id = button.data('id');
        const modal = $(this);
        modal.find('input[name="ticket_id"]').val(ticket_id)
    })
</script>
{% block scripts %}
{% endblock %}
</body>
</html>