{% extends "cls/base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Welcome!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col border p-2 rounded-sm">
                {% if perms.customers.add_customer %}
                    <a href="{% url "customers:new" %}" class="btn btn-primary btn-lg btn-block">New customer</a>
                {% endif %}
                {% if perms.tickets.add_ticket %}
                    <a href="{% url "tickets:new" %}" class="btn btn-primary btn-lg btn-block">New ticket</a>
                {% endif %}
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}