{% extends "cls/base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Welcome!</h1>
            </div>
        </div>
        <div class="row">
            {% if perms.customers.add_customer or perms.tickets.add_ticket %}
                <div class="col border p-2 rounded-sm m-2">
                    {% if perms.tickets.add_ticket %}
                        <a href="{% url "tickets:new" %}" class="btn btn-primary btn-lg btn-block">New ticket</a>
                    {% endif %}
                    {% if perms.customers.add_customer %}
                        <a href="{% url "customers:new" %}" class="btn btn-primary btn-lg btn-block">New customer</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if is_customer %}
            <div class="row">
                <h2 class="w-100">How we can contact you</h2>
                <a href="https://account.cardifftec.uk/auth/realms/{{ keycloak_realm }}/account/"
                   class="btn btn-primary">
                    Edit
                </a>
                <table class="table mt-3">
                    <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{% if customer.email %}{{ customer.email }}{% else %}No email on file{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{% if customer.phones %}{{ customer.phones|join:', ' }}{% else %}No phone numbers on
                            file{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Facebook messenger</th>
                        <td>
                            <div class="fb-send-to-messenger"
                                 messenger_app_id="{{ facebook_app_id }}"
                                 page_id="{{ facebook_page_id }}"
                                 cta_text="KEEP_ME_UPDATED"
                                 data-ref="{{ customer.ref }}"
                                 color="blue"
                                 size="xlarge">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col border p-2 rounded-sm m-2">
                    <h2>My repairs</h2>
                    {% if not repairs %}
                        You currently have no open repairs
                    {% else %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Last updated</th>
                                <th>Equipment</th>
                                <th>Booked by</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for repair in repairs %}
                                <tr>
                                    <td>{{ repair.id }}</td>
                                    <td>{{ repair.date }}</td>
                                    <td>{{ repair.date_updated }}</td>
                                    <td>{{ repair.equipment.name }}</td>
                                    <td>{{ repair.get_booked_by.firstName }}</td>
                                    <td>
                                        <a href="{% url 'tickets:request_update' repair.id %}" class="btn btn-success">Request
                                            update</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}