{% extends "cls/base.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <h1>Welcome!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col border p-2 rounded-sm">
                <a href="{% url "customers:new" %}" class="btn btn-primary btn-lg btn-block">New customer</a>
                <button type="button" class="btn btn-primary btn-lg btn-block">New ticket</button>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock %}