{% extends "cls/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% if form.instance %}
                        <div class="row">
                            <div class="col">
                                <b>ID:</b> {{ form.instance.id }}
                            </div>
                            <div class="col">
                                <b>Date:</b> {{ form.instance.date }}
                            </div>
                            <div class="col">
                                {% with customer=form.instance.get_customer %}
                                <b>Customer: </b> <a href="{% url 'customers:view_customer' customer.id%}">
                                    {{ customer.firstName }} {{ customer.lastName }}
                                </a>
                                {% endwith %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            {{ form.equipment|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.status|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.location|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.booked_by|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.assigned_to|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.current_os|as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.wanted_os|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1">
                            {{ form.has_charger|as_crispy_field }}
                            {{ form.has_case|as_crispy_field }}
                        </div>
                        <div class="col-2">
                            {{ form.additional_labels|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ form.other_equipment|as_crispy_field }}
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                {{ form.to_do_by.errors }}
                                {{ form.to_do_by.label_tag }}
                                <input class="form-control" type="date"
                                       id="{{ form.to_do_by.id_for_label }}"
                                       name="{{ form.to_do_by.html_name }}"
                                       value="{% if form.to_do_by.value %}{{ form.to_do_by.value }}{% endif %}"
                                >
                            </div>
                        </div>
                        <div class="col-2">
                            {{ form.quote|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ form.whats_it_doing.errors }}
                                {{ form.whats_it_doing.label_tag }}
                                <br>
                                <em>Only enter what it is doing upon arrival!</em>
                                <br>
                                {{ form.whats_it_doing }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4>Images</h4>
                            {{ images.management_form }}
                            {% for error in images.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                            <div class="d-flex align-items-start my-3">
                            {% for image in images %}
                                <div class="card image_row mx-1 form-row" style="width: 18rem;">
                                    {% if image.image.value %}
                                        <img src="{{ image.image.value.url }}" class="card-img-top" alt="">
                                    {% endif %}
                                    <div class="card-body">
                                        <input type="hidden" name="{{ image.id.html_name }}"
                                               value="{% if image.id.value %}{{ image.id.value }}{% endif %}">
                                        <input type="checkbox" class="delete" style="display: none" name="{{ image.DELETE.html_name }}">
                                        {{ image.image }}
                                        <br>
                                        <button class="btn btn-danger remove_image mt-3" type="button">Delete</button>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="row mb-4">
                                <div class="col">
                                    <button class="btn btn-success" id="add_image" type="button">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                {{ form.work_done.errors }}
                                {{ form.work_done.label_tag }}
                                <br>
                                {{ form.work_done }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.updater|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
        {% if form.instance %}
        <div class="row my-3">
            <div class="col">
                <h2>Revision history</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>User</th>
                            <th>Changes</th>
                        </tr>
                    </thead>
                    {% for revision in form.instance.revisions.all %}
                        <tr>
                            <th>{{ revision.time }}</th>
                            <td>
                                {% if revision.user %}
                                {{ revision.get_user.firstName }} {{ revision.get_user.lastName }}
                                {% else %}
                                N/A
                                {% endif %}
                            </td>
                            <td>
                                {% with data=revision.get_data %}
                                    {% if data.type == "create" %}
                                        Ticket created
                                    {% elif data.type == "update" %}
                                        {{ data.field_name }} changed from:
                                        <div>{{ data.old_value|safe }}</div>
                                        to:
                                        <div>{{ data.new_value|safe }}</div>
                                    {% elif data.type == "message" %}
                                        {% if data.msg_type == "ready" %}
                                            Ready to collect update sent
                                        {% elif data.msg_type == "custom" %}
                                            Custom update with text "{{ data.kwargs.update_text }}" sent
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ form.media }}

     <script type="application/javascript">
        function cloneMore(selector, prefix) {
            const newElement = $(selector).clone(true);
            const $total = $('#id_' + prefix + '-TOTAL_FORMS');
            let total = $total.val();
            newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
                const name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                const id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                let forValue = $(this).attr('for');
                if (forValue) {
                    forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr({'for': forValue});
                }
            });
            total++;
            $total.val(total);
            $(selector).after(newElement);
            const conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-success').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
            return false;
        }

        function deleteForm(btn) {
            const $row = btn.closest('.form-row');
            $row.css("display", "none");
            $row.find("input.delete").attr("checked", true);
            return false;
        }

        $(document).on('click', '#add_image', function (e) {
            e.preventDefault();
            cloneMore('.image_row:last', 'images');
            return false;
        });
        $(document).on('click', '.remove_image', function (e) {
            e.preventDefault();
            deleteForm($(this));
            return false;
        });
    </script>
{% endblock %}