{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>We Will Fix Your PC Schools Booking System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <style>
        body {
            background: #fff url({% static 'cls/img/retro-apple-tile.png' %}) 50% 50%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="bg-light rounded my-5 p-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img src="{% static 'cls/img/wwfypc-logo-wd.png' %}" alt="" class="mw-100">
            </div>
        </div>
        <h1 class="text-center">Schools Booking System</h1>
        <hr/>
        {% if msg %}
            <div class="alert alert-primary" role="alert">
                {{ msg }}
            </div>
            <hr/>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>