django-phonenumber-field
django-crispy-forms
phonenumbers
pyotp
django-ckeditor
sentry-sdk
sentry-sdk[flask]
flask
brother_ql
git+https://github.com/TheEnbyperor/django-keycloak-auth@c6a9258b90de3855d8a67b745e3659bc95321554
psycopg2-binary
gunicorn
weasyprint
jinja2
python-escpos
celery
redis
pyjwt
twilio
