django-phonenumber-field
django-crispy-forms
phonenumbers
pyotp
django-ckeditor
sentry-sdk
git+https://github.com/TheEnbyperor/python-brotherprint
git+https://github.com/TheEnbyperor/django-keycloak-auth
git+https://github.com/Peter-Slump/python-keycloak-client
psycopg2-binary
gunicorn
