<style type="text/css" style="font-weight: 300">
  @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
</style>
<div style="background-image: url('http://account.cardifftec.uk/auth/resources/ille7/login/wwfypc/img/retro-apple-tile.png'); background-position: 50% 50%; font-family: Lato, 'Helvetica Neue', helvetica, sans-serif;">
    <div style="padding: 40px;">
    <table style="margin: 0 auto; border-radius: 5px; background: #fff; max-width: 600px; width:100%; border: 1px solid #c7d0d4; border-spacing: 0;">
        <tr>
            <td style="border-bottom: 1px solid #dee7eb; text-align: center;">
                <img src="http://account.cardifftec.uk/auth/resources/ille7/login/wwfypc/img/wwfypc-logo-wd.png" height="150px" alt="We Will Fix Your PC" />
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1>Old ticket summary</h1>
                <h2>These tickets haven't been updated in a while</h2>
                <ul>
                {% for ticket in tickets %}
                    <li>
                        <a href="{{ url_prefix }}{% url 'tickets:view_ticket' ticket.id %}">Ticket #{{ ticket.id }}</a>
                        ({{ ticket.date_updated }})
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    </div>
</div>
