<?xml version="1.0"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
    <channel>
        <title>We Will Fix Your PC</title>
        <link>https://wewillfixyourpc.co.uk</link>
        {% for item in items %}
        <item>
            <g:id>CLS_{{ item.id }}</g:id>
            <g:title>{{ item.name }}</g:title>
            <g:description>{{ item.description }}</g:description>
            <g:link>https://wewillfixyourpc.co.uk</g:link>
            <g:image_link>{{ item.images.first.image.url }}</g:image_link>
            <g:additional_image_link>{% for image in item.images.all|slice:"1:" %}{{ image.image.url }}{% if not forloop.last %},{% endif %}{% endfor %}</g:additional_image_link>
            <g:brand>{{ item.brand }}</g:brand>
            <g:mpn>{{ item.mpn }}</g:mpn>
            <g:condition>{{ item.condition }}</g:condition>
            <g:availability>{% if item.available %}in stock{% else %}out of stock{% endif %}</g:availability>
            <g:price>{{ item.price }} GBP</g:price>
            <g:google_product_category>{{ item.category.google_category }}</g:google_product_category>
            <g:product_type>{{ item.category.name }}</g:product_type>
            <g:custom_label_4>for sale</g:custom_label_4>
            <g:identifier_exists>no</g:identifier_exists>
        </item>
        {% endfor %}
    </channel>
</rss>