{% extends "cls/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="row">
                        <div class="col">
                            {{ form.first_name|as_crispy_field }}
                            {{ form.last_name|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            <h4>Phone numbers</h4>
                            {{ phone_numbers.management_form }}
                            {% for phone_form in phone_numbers %}
                                {{ phone_form.phone_number.errors }}
                                <div class="input-group mb-3 phone_form_row">
                                    <input class="form-control" type="text"
                                           name="{{ phone_form.phone_number.html_name }}"
                                           value="{% if phone_form.phone_number.value %}{{ phone_form.phone_number.value }}{% endif %}"
                                           placeholder="Number"
                                    >
                                    <div class="input-group-append">
                                        <button class="btn btn-danger remove_phone_number" type="button">-</button>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="row mb-4">
                                <div class="col">
                                    <button class="btn btn-success" id="add_phone_number" type="button">Add number
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            {{ form.address_line_1|as_crispy_field }}
                            {{ form.address_line_2|as_crispy_field }}
                            {{ form.city|as_crispy_field }}
                            {{ form.country|as_crispy_field }}
                            {{ form.postal_code|as_crispy_field }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function updateElementIndex(el, prefix, ndx) {
            const id_regex = new RegExp('(' + prefix + '-\\d+)');
            const replacement = prefix + '-' + ndx;
            if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function cloneMore(selector, prefix) {
            const newElement = $(selector).clone(true);
            const $total = $('#id_' + prefix + '-TOTAL_FORMS');
            let total = $total.val();
            newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
                const name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
                const id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            });
            newElement.find('label').each(function () {
                let forValue = $(this).attr('for');
                if (forValue) {
                    forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
                    $(this).attr({'for': forValue});
                }
            });
            total++;
            $total.val(total);
            $(selector).after(newElement);
            const conditionRow = $('.form-row:not(:last)');
            conditionRow.find('.btn.add-form-row')
                .removeClass('btn-success').addClass('btn-danger')
                .removeClass('add-form-row').addClass('remove-form-row')
                .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
            return false;
        }

        function deleteForm(prefix, btn) {
            const total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
            if (total > 1) {
                btn.closest('.form-row').remove();
                const forms = $('.phone_form_row');
                $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
                for (let i = 0, formCount = forms.length; i < formCount; i++) {
                    $(forms.get(i)).find(':input').each(function () {
                        updateElementIndex(this, prefix, i);
                    });
                }
            }
            return false;
        }

        $(document).on('click', '#add_phone_number', function (e) {
            e.preventDefault();
            cloneMore('.phone_form_row:last', 'form');
            return false;
        });
        $(document).on('click', '.remove_phone_number', function (e) {
            e.preventDefault();
            deleteForm('form', $(this));
            return false;
        });
    </script>
{% endblock %}