{% extends "cls/base.html" %}

{% block content %}
    <div class="container-fluid my-4 mw-100" style="overflow-x: auto">
        <h1>Customers</h1>
        {% if perms.customers.add_customer %}
            <a class="btn btn-success" href="{% url 'customers:new' %}">New customer</a>
            <span><b>Code for self checkin:</b> <span id="totp">...</span></span>
        {% endif %}
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Phone</th>
                    <th>Enabled</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.firstName }}</td>
                        <td>{{ customer.lastName }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.username }}</td>
                        <td>{{ customer.attributes.phone|join:", " }}</td>
                        <td><i class="material-icons">{% if customer.enabled %}check_box{% else %}check_box_outline_blank{% endif %}</i></td>
                        <td>
                            <a href="{% url 'customers:view_customer' customer.id %}" class="btn btn-success mr-1">View</a>
                            {% if perms.customers.change_customer %}
                                <a href="{% url 'customers:edit_customer' customer.id %}" class="btn btn-primary">Edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% if perms.customers.add_customer %}
    {% block scripts %}
        <script type="application/javascript">
            $(function () {
                function update() {
                    $.get("{% url 'checkin:totp' %}", null, function (value) {
                        $("#totp").text(value);
                    });
                }
                setInterval(update, 5000);
                update();
            });
        </script>
    {% endblock %}
{% endif %}